@charset "UTF-8";
@import "font.css";
html, body {
  font-family: 'S-CoreDream-3Light', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'yg-jalnan', sans-serif;
  cursor: default;
}

body, div, span,
h1, h2, h3, h4, h5, h6,
a, header, section, footer, nav,
img, form, figcaption, figure,
i, p {
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(51, 51, 51);
}

ol, ul {list-style: none; padding: 0; margin: 0;}
a{text-decoration: none;}
p, div{cursor: default;}
